{{define "content"}}
<section id="home">
  <div>
    <div>
      <h1>
        Hi There!<br />I'm a full stack <br />
        {<span data-value="developer">developer</span>}
      </h1>
      <script>
        const letters = "abcdefghijklmnopqrstuvwxyz";
        function devAnimation(e) {
          let t = 0,
            n = setInterval(() => {
              (e.target.innerText = e.target.innerText
                .split("")
                .map((n, r) =>
                  r < t
                    ? e.target.dataset.value[r]
                    : letters[Math.floor(Math.random() * letters.length)],
                )
                .join("")),
                t >= e.target.dataset.value.length && clearInterval(n),
                (t += 1.05);
            }, 35);
        }
        (document.querySelector(".developer").onmouseover = (e) => devAnimation(e)),
          (document.querySelector(".developer").onclick = (e) => devAnimation(e));
      </script>

      <p>
        A developer driven by creativity, <br />
        dedicated to turning ideas into impactful solutions.
      </p>

      <br />
      <a href="/#contact" class="btn">
        <span>Let's connect</span>
        <i class="ti ti-arrow-narrow-right"></i>
      </a>
    </div>
    <div>
      <div id="donut"></div>
      <script defer src="/assets/js/donut.js"></script>
    </div>
  </div>
</section>
<section id="about">
  <h2 class="sub-heading">
    <span class="command" title="A unix/linux command which gives more control">sudo</span>
    <span>About me</span>
  </h2>
  <div>
    <div>
      <img src="/assets/img/favicon.webp" alt="profile pic" width="300px" height="300px" class="blur-load"
        title="This is my github profile pic" loading="lazy" />
      <div class="about-links">
        <a href="mailto:contact@yasasvi.site" class="links" target="_blank">
          <i class="ti ti-mail"></i>
          <span>Email</span>
        </a>
        <a href="https://www.linkedin.com/in/yasasvi-gumma/" class="links" target="_blank">
          <i class="ti ti-brand-linkedin"></i>
          <span>Linkedin</span>
        </a>
        <a href="https://github.com/MementoMori11723" target="_blank" class="links">
          <i class="ti ti-brand-github"></i>
          <span>Github</span>
        </a>
      </div>
    </div>
    <div>
      <p>
        Hi, I’m <span>Yasasvi Gumma</span>, a
        <strong>22-year-old</strong> self-taught software engineer from
        <span>India</span> with <strong>4 years </strong>of experience. <br />
        <br />I started programming at 17, driven by a love for tech and
        problem-solving. I focus on building efficient backends and smooth UIs
        while learning and improving. <br /><br />
        <span class="about-sub-tag">My motto</span>
        "Code is the spell, and developers are the wizards. With the right
        knowledge, they can accomplish anything and shape the world."&nbsp;
        <span>—Yasasvi Gumma</span>
        <br /><br />
        <span class="about-sub-tag">My aspiration</span>
        is to become a developer as influential as
        <span>Linus Torvalds,</span>
        pushing boundaries, refining skills, and making meaningful contributions
        to the tech community.
      </p>
    </div>
  </div>
</section>
<section id="skills">
  <h2 class="sub-heading">
    <span class="command" title="A unix/linux command which gives information about other commands">man</span>
    Skills
  </h2>
  <div class="data">
    <p>
      I'm a <strong>collaborative</strong> and
      <strong>adaptable</strong> individual with strong communication and
      problem-solving skills, fluent in <span>English</span>,
      <span>Telugu</span>, and <span>Hindi</span>.
    </p>
    <div class="txt">
      <p>Technical skills</p>
    </div>
    <div class="left">
      <div>
        <i class="ti ti-language-hiragana"></i>
        <span>Programming Languages</span>
        <div>
          <template x-for=""> {{template "link" .}} </template>
        </div>
      </div>
    </div>
    <div class="right">
      <div>
        <i class="ti ti-tools"></i>
        <span>Tools & Frameworks</span>
        <div>
          <template x-for=""> {{template "link" .}} </template>
        </div>
      </div>
    </div>
    <div class="left">
      <div>
        <i class="ti ti-heart"></i>
        <span>Favorites</span>
        <div>
          <template x-for=""> {{template "link" .}} </template>
        </div>
      </div>
    </div>
    <div class="out-links">
      <a href="/assets/files/yasasvi's-certificates.pdf" target="_blank">
        <i class="ti ti-external-link"></i>
        <span>Dive Into My Certifications</span>
      </a>
    </div>
  </div>
</section>
<section id="experience">
  <h2 class="sub-heading">
    <span class="command"
      title="A unix/linux command which is used to give list of files and directory's or folders">ls</span>
    <span>Experience</span>
  </h2>
  <div>
    <p>
      Although I am currently an undergraduate with limited formal experience, I
      am proactively building websites and contributing to projects free of
      charge. This allows me to gain practical, hands-on experience while honing
      my skills and expanding my expertise.
    </p>
    <div class="auto-blur">
      <p>Achivements</p>
      <ol>
        <li>
          <i class="ti ti-microscope"></i><span>Hands-On Learning</span>:
          Completed <strong>35+</strong> personal projects to build practical
          skills in development, optimization, and user-focused design.
        </li>
        <li>
          <i class="ti ti-server"></i><span>Scalable Deployments</span>: Deployed multiple applications on
          <strong>Linode VPS </strong>(1 vCPU, 1 GB RAM, 25 GB storage),
          optimizing resource usage for high efficiency.
        </li>
        <li>
          <i class="ti ti-brand-docker"></i><span>Container Orchestration</span>: Gained experience with
          Kubernetes by deploying and removing a <strong>cluster</strong>,
          enhancing troubleshooting and management skills.
        </li>
        <li>
          <i class="ti ti-terminal"></i><span>Linux Proficiency</span>: Installed
          <strong>Arch Linux </strong>the hard way, building expertise in system
          configuration and package management.
        </li>
        <li>
          <i class="ti ti-code"></i>Open Source Impact</span>: Contributed
          <strong>710+ commits</strong> on GitHub, driving collaboration and
          innovation across various projects.
        </li>
        <li>
          <i class="ti ti-world-www"></i><span>Web Development</span>: Built and deployed
          <strong>free</strong> websites, applying real-world practices to
          sharpen technical expertise and deliver functional solutions.
        </li>
        <li>
          <i class="ti ti-automatic-gearbox"></i><span>Streamlined Automation</span>: Used tools like
          <strong>GitHub Actions</strong>, <strong>Ansible</strong> and
          <strong>Docker</strong> to automate deployments, ensuring smooth and
          reliable updates.
        </li>
      </ol>
    </div>
    <div class="out-links">
      <a href="/assets/files/yasasvi-gumma.pdf" target="_blank">
        <i class="ti ti-external-link"></i>
        <span>Take a Look at My Resume</span>
      </a>
    </div>
  </div>
</section>
<section id="projects">
  <h2 class="sub-heading">
    <span class="command" title="A command line tool which is used to change the directory or folder">cd</span>
    <span>Projects</span>
  </h2>
</section>
<section id="contact">
  <h2 class="sub-heading">
    <span class="command" title="A command line tool used to connect with different computers">ssh</span>
    Contact me
  </h2>
  <div>
    <form action="/email" method="POST">
      <p>Send a message!</p>
      <div class="form-input">
        <input type="email" id="email" name="email" autocomplete="email" required /><label for="email">Email</label>
      </div>
      <div class="form-input">
        <input type="text" id="name" name="name" autocomplete="name" required /><label for="name">Name</label>
      </div>
      <div class="form-input">
        <input type="text" id="subject" name="subject" autocomplete="cc-type" required /><label
          for="subject">Subject</label>
      </div>
      <div class="form-input">
        <textarea type="text" id="message" name="message" autocomplete="work" required></textarea><label
          for="message">Message</label>
      </div>
      <button type="submit">
        <i class="ti ti-send-2"></i>
        <span>Send</span>
      </button>
    </form>
  </div>
</section>
{{end}}

<!-- link -->
{{define "link"}}
<a href="data.url" target="data.target ? '_blank' : ''" title="data.description">
  <i :class="data.class"></i>
  <span x-text="data.title"></span>
</a>
{{end}}
